.button-select-view {
    width: 33%;
    margin: 0px;
    background-color: #D32F2F;
    border: 1px solid #D32F2F;
    color: #FFFFFF;
    font-size: 18px;
}

ul {
    margin-top: 5px;
    list-style-type: none;
    width: 99.8%;
    margin: 0px;
    padding: 0px;
}

li {
    margin-left: 0px;
    padding-left: 2px;
    height: 25px;
    border: solid 0.1px rgb(163, 171, 179);
    border-left: 1.5px solid #D32F2F;
    font-size: 15px;
    padding-top: 2px;
    margin-bottom: 5px;
}
