.scoreboard-div {
    margin-left: 10%;
    width：80%;
    margin-right: 10%;
    height: auto;
    margin-top: 35px;
}

.script-div {
    font-size: 25px;
    color: #212121;
}

.subscript-div {
    font-size: 15px;
    color: rgb(163, 171, 179);
}

table {
    width: 100%;
    margin-top: 25px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #212121;
}

th {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
