.intro-page {
    padding-top: 35px;
    padding-left: 10%;
    padding-bottom: 30px;
    width: 100%;
    height: auto;
    background-color: #fafafa;
}

.title-div {
    font-size: 45px;
    color: #212121;
    font-weight: 200;
}

.subtitle-div {
    margin-top: 5px;
    font-size: 25px;
    color: rgb(163, 171, 179);
    font-weight: 300;
}

.suggestion-div {
    margin-top: 5px;
    font-size: 20px;
    color: rgb(163, 171, 179);
    font-weight: 300;
}
